div:first-child {
  background-color: red;
}
div:last-child {
  background: blue;
}
section:nth-child(2) {
  background: green;
}
td {
  padding: 10px;
}
tr:nth-child(even) {
  background: khaki;
}
tr:nth-child(odd) {
  background: lightblue;
}
