* {
  margin: 0;
  padding: 0;x
  box si
}
#div1 {
  width: 45.4cm;
  height: 7cm;
  background-color: magenta;
}
#div2 {
  width: 30vw;
  height: 50vh;
  background-color: tomato;

my name ism Sawnand Prabhakar Ghoaka Gholap