main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainbody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(33, 54, 246),rgb(255, 248, 248));
    display: flex;
    justify-content: center;
    align-items: center;
}

.namebox h1{
    font-size: 130px;
    margin: 0;
    padding: 0;
}
.namebox p{
    font-size: 40px;
    margin: 0;
    padding: 0;
}
nav{
    /* width: 4.1vw;
    height: 47.7vh; */
    /* background: black; */
    position: fixed;    
    left: 20px;
}
nav>div{
    border: 1px solid snow;
    width: 4vw;
    height: 4vw ;
    background: black;
    border-radius: 50%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 

}
nav>div>a>i{
    color: white;
    font-size: 42px;  
}
#aboutSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#m1{
    width: 80%;
    height: 80%;
    border: 2px solid;
    display: flex;
}
#a1{
    width: 50%;
    height:100%;
    border: 3px solid;

}
img{
    height: 788px;
    width: 754px;
}
